RewriteEngine on

AuthUserFile /usr/local/apache2/htdocs/admin/.htpasswd
AuthGroupFile /dev/null
AuthName "Please Enter Password"
AuthType Basic
Require valid-user  

RewriteCond %{REQUEST_URI} !.(html|jpg)$
RewriteRule (.*) $1.html [L]

