  version: '2'
  services:
      loadbalance:
          image: nginx:latest
          ports: 
            - "81:80"
          volumes:
            - /home/vagrant/nginx:/etc/nginx
            - /home/vagrant/html/:/usr/share/nginx/html
          links:
            - node1
            - node2
            - node3

      node1:
        image: nginx:latest
        ports:
          - "82:80"
        volumes:
         - /home/vagrant/htmla/:/usr/share/nginx/html

      node2:
        image: nginx:latest
        ports:
          - "83:80"
        volumes:
          - /home/vagrant/htmlb/:/usr/share/nginx/html

      node3:
        image: nginx:latest
        ports:
          - "84:80"
        volumes:
          - /home/vagrant/nnode:/etc/nginx
          - /home/vagrant/htmlc/:/usr/share/nginx/html